/*desktop*/
nav > ul li {
    float: right;
    list-style-type: none;
}

nav > ul > li {
    border-radius: 10px;
    margin-right: 1%;
    padding-left: 10px;
    padding-right: 10px;
}

nav > ul > li:hover {
    background-color: #44444E;
}

nav > ul {
    position: absolute;
    top: 0;
    left: 15px;
    right: 10px;
    padding-right: 25px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #37353E;
}

.nodec {
    text-decoration: none;
    text-align: center;
    color: #D3DAD9;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #D3DAD9;
}

.contentDiv {
    display: block;
    text-align: center;
    max-width: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D3DAD9;
}

#Body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat; /* https://www.w3schools.com/cssref/pr_background-repeat.php */
    background-size: 2000px 2000px;
}

footer {
    background-color: #37353E;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#footerContent {
    color: #D3DAD9;
    font-size: 10px;
    text-decoration: none;
}

a:link {
    color: #D3DAD9;
}

a:visited {
    color: #D3DAD9;
}

a:active {
    color: #D3DAD9;
}

#footerContent > a:hover {
    font-weight: bold;
}

#AboutMain > div > .contentDiv {
    font-size: 15px;
    display: inline-flex;
}

#AboutMain > div > .contentDiv > ul {
    list-style-type: none;
    text-align: start;

}
#AboutMain > div > .contentDiv > ul > ul {
    list-style-type: none;

}
#AboutMain > div > .contentDiv > ul > ul > li > p {
    font-size: 20px;
}

#AboutMain > div{
    justify-content: start;
}


/*https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.name{
    font-size: 50px;
    margin-left: 150px;
}

.textField{
    height: 1.2em;
    resize: none;
    width: 18em;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.5%;

}

.contactButton{
    border-radius: 10px;
    width: 5vw;
    height: 2vw;
    background-color: #465C88;
    color: white;
    font-size: 1vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contactButton:hover{
    background-color: #526ca1;
    box-shadow: 2px 2px 4px #3a3a3a;
    border: 1px solid black;
}
.contactButton:active{
    background-color: #324060;
}

.bike{
    width: 35vw;
}

#gallery{
    margin-bottom: 5vw;
}


/*CV Page*/
#CV{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
    font-size: 1vw;
    color: black;
    text-align: left;
    justify-content: start;
    place-items: start;
}
#CVImage{
    width: 5vw;
}

#CvName{
    font-size: 2vw;
    color: #D3DAD9;
}


/*tablet*/
@media screen and (max-width: 810px) {
    .contentDiv{
        max-height: 50%;
        max-width: 100%;
    }

    #CV{
        font-size: 2vh;
        margin-bottom: 10vh;
    }
    #CVImage{
        width: 10vh;
    }

    #CvName{
        font-size: 4vh;
    }




}

/*mobile*/
@media screen and (max-width: 375px) {
    nav{
        display: none;
    }

    #CV{
        font-size: 1vh;
        margin-left: 10vw;
    }
    #CvName{
        font-size: 2vh;
    }
    #CVImage{
        width: 5vh;
    }

}